kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: k8s-1.35

featureGates:
  "PodCertificateRequest": true
  "ImageVolume": true
  "GenericWorkload": true
  "GangScheduling": true
  "ContainerRestartRules": true
  "KubeletCrashLoopBackOffMax": true
  "NodeDeclaredFeatures": true
  "TaintTolerationComparisonOperators": true

runtimeConfig:
  certificates.k8s.io/v1beta1/podcertificaterequests: true
  scheduling.k8s.io/v1alpha1: true
nodes:
  - role: control-plane
    image: kindest/node:v1.35.0
    extraMounts: 
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          name: master

  - role: worker
    image: kindest/node:v1.35.0
    extraMounts: 
    kubeadmConfigPatches:
    - |
      kind: JoinConfiguration
      nodeRegistration:
        name: worker-4gi-1cpu
        kubeletExtraArgs:
          system-reserved: memory=4Gi,cpu=3

  - role: worker
    image: kindest/node:v1.35.0
    extraMounts: 
    kubeadmConfigPatches:
    - |
      kind: JoinConfiguration
      nodeRegistration:
        name: worker-7gi-4cpu
        kubeletExtraArgs:
          system-reserved: memory=1Gi,cpu=0
