apiVersion: apps/v1
kind: Deployment
metadata:
  name: group-of-friends
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: group-of-friends
  template:
    metadata:
      labels:
        app: group-of-friends
    spec:
      containers:
        - name: gang-worker
          image: busybox:1.36
          command: ["sh", "-c", "echo started; sleep infinity"]
          resources:
            requests:
              cpu: "500m"
              memory: "256Mi"
